__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/

db.sqlite3
.env
*.log

staticfiles/
static_root/
media/

.pytest_cache/
.mypy_cache/
.tox/
.coverage*
htmlcov/
.vscode/
.idea/
*.iml
Thumbs.db
.DS_Store